
/* Last Edited July 27 2020 */

a, body, div, header, h1, img, p {
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	background-color: #00BFFF;
	text-align: center;
}
header .accessory {
	height: 100px;
	margin-top: 15px;
	margin-bottom: -10px;
}
header h1 {
	margin-bottom: 15px;
	color: #E7C496;
	font-size: 80px;
	font-weight: bold;
	/* font-style: italic; */
	text-decoration: underline;
	font-family: 'Norican', cursive;
	margin-bottom: -6px;
}
.links img {
	width: 100px;
	padding: 5px;
}
.youtube {
	margin-bottom: 12px;
}
.netflix {
	margin-bottom: 15px;
}
.hulu {
	margin-bottom: 20px;
}
.row1, .row2, .row3 {
	padding-bottom: 10px;
}