a, body, header, h1, img, p {
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	background-color: #adbccd;
	text-align: center;
}
header .accessory {
	height: 100px;
	margin-top: 10px;
	margin-bottom: -20px;
}
header h1 {
	margin-bottom: 15px;
	color: 	#0f1225;
	font-size: 80px;
	font-weight: bold;
	text-decoration: underline;
	font-family: 'Charm', cursive;
	/* text-decoration: underline; */
	margin-bottom: -8px;
}
.links img {
	width: 100px;
	padding: 5px;
}
.youtube {
	margin-bottom: 12px;
}
.netflix {
	margin-bottom: 15px;
}
.xfinity {
	margin-bottom: 12px;
}
.row1, .row2, .row3 {
	padding-bottom: 10px;
}